{% extends 'mainapp/base.html' %}

{% block content %}
    <h1>Каталог</h1>

    <div class="navbar navbar-light bg-light">
        <p>Манга</p>
        <ul class="nav nav-pills flex-column">
            {% for item in categories %}

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'manga' item.pk %}">
                        {{ item }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="navbar navbar-light bg-light">
        <p>Аниме</p>
        <ul class="nav nav-pills flex-column">
            {% for item in categories %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'anime' item.pk %}">
                        {{ item }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>



{% endblock %}